---
layout: default
title: Blog Page
meta-description:
meta-keywords:
featured-image_path:
---

<section class="padded">
  <h1 class="centered"> Latest on the blog </h1>

  <!-- Recent Posts -->
       <section>
        <div class="grid blog-loop">
        {% for post in site.posts %}
          <div class="col-4_sm-12 padded-1">
            {% include post-loop-item.html %}
          </div>
         {% endfor %}
         </div>
       </section>


  <div class="centered">
    <!-- This links to the archive of blog posts -->
    <a href="/archive" class="button"> See More </a>
  </div>
</section>
