---
layout: default
title:
meta-description:
meta-keywords:
image_path: /images/pencils.jpg
title: this is the most amazing homepage I have ever seen
---

<!-- this is just an example. You can safely delete these and add your own blocks -->


<!-- banner -->
{% include banner.html %}

<!-- Recent Posts TO DO ask Tina difference between blog page and archive page-->
     <section>
      <h2>
        Recent Posts
      </h2>
      <div class="grid blog-loop">
      {% for post in site.posts %}
        <div class="col-4_sm-12 padded-1">
          {% include post-loop-item.html %}
        </div>
       {% endfor %}
       </div>
       <a class="button" href="/blog">See all posts</a>
     </section>

<!-- Second banner -->
  {% include banner.html %}

<!-- About Us Section -->
<section class="light-bg">
  <div class="grid">
    <div class="col-3_sm-12 bg-image">
    </div>
    <div class="col-6_sm-12-middle padded">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      <a class="button" href="/about-us">Read our story</a>
    </div>
    <div class="col-3_sm-12 bg-image">
    </div>
  </div>
</section>
