---
layout: default
title: Homepage
meta-description:
meta-keywords:
banner:
  - url: /first-post
    image_path: /uploads/home.jpg
    title: KO PODA ISLAND (ULTIMATE GUIDE ON TAKING THIS PARADISE KRABI BOAT TOUR)
  - url: /second-post
    image_path: /uploads/komodo-2.jpg
    title: 25 TOP THINGS TO DO IN THE KOMODO ISLANDS
  - url: /third-post
    image_path: /uploads/e2.jpg
    title: HOW TO IDENTIFY ETHICAL ELEPHANT SANCTUARIES TO VISIT IN THAILAND
---

  {% assign heading = 1 %}

<!-- banner -->
{% assign banner = page.banner[0] %}
{% include banner-homepage.html banner=banner %}

<!-- Recent Posts -->
<section class="padded">
  <h2>
    Recent Posts
  </h2>
  <div class="grid blog-loop">
    {% for post in site.posts limit:9 %}
    <div class="col-4_sm-12 padded-1">
      {% include post-loop-item.html %}
    </div>
    {% endfor %}
  </div>
  <div class="centered">
    <a class="button" href="/blog">See all posts</a>
  </div>

</section>

<!-- banner -->
{% assign banner = page.banner[1] %}
{% include banner-homepage.html banner=banner %}

<!-- About Us Section -->
<section class="light-bg">
  <div class="grid">
    <div class="col-3_sm-12 bg-image">
    </div>
    <div class="col-6_sm-12-middle padded centered">
      <p class="editable"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      <a class=" editable button" href="/about-us">Read our story</a>
    </div>
    <div class="col-3_sm-12 bg-image">
    </div>
  </div>
</section>

<!-- Spotlight Section -->
<section class="padded">
  <div class="capped-width margin-bottom centered editable">
    <h2>
      Spotlight on
    </h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>


  {% assign filtered_posts = site.posts | where: 'spotlight', true %}
  {% include mixed-column-posts.html %}

  </section>

<!-- Products Section -->
<section class="padded centered">
  <h2> Featured Online Courses </h2>
  <div class="grid padded-1">
    <div class="col-4_sm-12 padded-1">
      <div class="bg-image" style="background-image:url('/images/person.png')">
      </div>
    </div>
    <div class="col-4_sm-12 padded-1">
      <div class="bg-image" style="background-image:url('/images/person.png')">
      </div>
    </div>
    <div class="col-4_sm-12 padded-1">
      <div class="bg-image" style="background-image:url('/images/person.png')">
      </div>
    </div>
  </div>
  <a class="button" href="/about-us">See All Online Courses</a>
</section>

<!-- banner -->
{% assign banner = page.banner[2] %}
{% include banner-homepage.html banner=banner %}

<!-- Work With Us Section -->
<section class="light-bg">
  <div class="grid">
    <div class="col-3_sm-12 bg-image">
    </div>
    <div class="col-6_sm-12-middle padded centered">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      <a class="button" href="/about-us">Work with us</a>
    </div>
    <div class="col-3_sm-12-middle">
      <div class="grid-center centered padded-1">
        <div class="col-6">
          <img src="/images/logo.webp" />
        </div>
        <div class="col-6">
          <img src="/images/logo.webp" />
        </div>
        <div class="col-6">
          <img src="/images/logo.webp" />
        </div>
        <div class="col-6">
          <img src="/images/logo.webp" />
        </div>
        <div class="col-6">
          <img src="/images/logo.webp" />
        </div>
        <div class="col-6">
          <img src="/images/logo.webp" />
        </div>
      </div>
    </div>
  </div>
</section>
