---
layout: default
title:
meta-description:
meta-keywords:
image_path: /images/pencils.jpg
title: this is the most amazing homepage I have ever seen
---

<!-- this is just an example. You can safely delete these and add your own blocks -->


<!-- banner -->
{% include banner.html %}

<!-- Recent Posts TO DO ask Tina difference between blog page and archive page-->
<section class="padded">
  <h2>
    Recent Posts
  </h2>
  <div class="grid blog-loop">
    {% for post in site.posts limit:9 %}
    <div class="col-4_sm-12 padded-1">
      {% include post-loop-item.html %}
    </div>
    {% endfor %}
  </div>
  <div class="centered">
    <a class="button" href="/blog">See all posts</a>
  </div>

</section>

<!-- Second banner TO DO: integrate featured blog post info -->
<section class="banner grid-bottom" style="background-image:url('/images/pencils.jpg');">
  <div class="col-9">
    <h1> I am a title that I need to change</h1>
  </div>
</section>

<!-- About Us Section -->
<section class="light-bg">
  <div class="grid">
    <div class="col-3_sm-12 bg-image">
    </div>
    <div class="col-6_sm-12-middle padded centered">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      <a class="button" href="/about-us">Read our story</a>
    </div>
    <div class="col-3_sm-12 bg-image">
    </div>
  </div>
</section>

<!-- Spotlight Section -->
<section class="padded">
  <div class="capped-width">
    <h2>
      Spotlight on
    </h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>
  <div class="grid blog-loop">
    {% assign filtered_posts = site.posts | where: 'spotlight', true %}

    {% for post in filtered_posts limit:1 %}
    <div class="col-6_sm-12 padded-1">
      <a href="{{post.url}}" class="blog-item">
        <div class="bg-image" style="background-image:url('{{post.image_path}}')"> </div>
        <h3> {{post.title}} </h3>
        <p> {{post.excerpt | strip_html | truncate:100 }} </p>
      </a>
    </div>
    {% endfor %}
    <div class="col-6_sm-12 padded-1">
      {% for post in filtered_posts limit:2 offset:1 %}
      <div class="grid  flex-flip">
        <div class="col-6_sm-12 bg-image">
        </div>
        <div class="col-6_sm-12-middle padded">
          <h3> {{post.title}} </h3>
          <p> {{post.excerpt | strip_html | truncate:100 }}
          </p>
          <a class="arrow" href="{{post.image_path}}"> > </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

<!-- Products Section -->
<section class="padded centered">
  <h2> Featured Online Courses </h2>
  <div class="grid padded-1">
    <div class="col-4_sm-12 padded-1">
      <div class="bg-image" style="background-image:url('/images/person.png')">
      </div>
    </div>
    <div class="col-4_sm-12 padded-1">
      <div class="bg-image" style="background-image:url('/images/person.png')">
      </div>
    </div>
    <div class="col-4_sm-12 padded-1">
      <div class="bg-image" style="background-image:url('/images/person.png')">
      </div>
    </div>
  </div>
  <a class="button" href="/about-us">See All Online Courses</a>
</section>

<!-- Third banner -->
<section class="banner grid-bottom" style="background-image:url('/images/pencils.jpg');">
  <div class="col-9">
    <h1> I am a title that I need to change</h1>
  </div>
</section>

<!-- Work With Us Section -->
<section class="light-bg">
  <div class="grid">
    <div class="col-3_sm-12 bg-image">
    </div>
    <div class="col-6_sm-12-middle padded centered">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      <a class="button" href="/about-us">Work with us</a>
    </div>
    <div class="col-3_sm-12-middle">
      <div class="grid-center padded-1">
        <div class="col-4_sm-4_xs-6">
          <img src="/images/logo.webp">
        </div>
        <div class="col-4_sm-4_xs-6">
          <img src="/images/logo.webp">
        </div>
        <div class="col-4_sm-4_xs-6">
          <img src="/images/logo.webp">
        </div>
        <div class="col-4_sm-4_xs-6">
          <img src="/images/logo.webp">
        </div>
        <div class="col-4_sm-4_xs-6">
          <img src="/images/logo.webp">
        </div>
        <div class="col-4_sm-4_xs-6">
          <img src="/images/logo.webp">
        </div>
      </div>
    </div>
  </div>
</section>
