<!-- This is your site header, you can replace this with whichever header you want to use -->

<header class="grid" id="header">
  <div class="col-3_sm-12-middle">
    <a href="/">
      <img src="/images/navigation/wander-in-two-logo.png" alt=" ">
    </a>
  </div>
  <nav class="col-9-middle mob-hide right">
    {% include site-navigation.html %}
  </nav>

</header>


<!-- this is the button to open and close your hamburger menu -->
<div class="hamburger">
  <div class="burger-button">
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>
        </div>
</div>

<!-- This is the mobile menu  -->
<nav class="mobile-menu">
  {% include site-navigation.html %}
</nav>
