---
layout: default
autopages:
  permalink: /collections/with/tag/:tag
pagination:
  enabled: true
  categories: {{page.title}}
  debug: false
---


<!-- this section is an example of how we output the travel posts -->
<section class="padded">
  <h1 class="centered"> Latest {{page.category}} Posts </h1>

  <div class="grid blog-loop">

    {% for post in paginator.posts %}
      <div class="col-4_sm-12 padded-1">
        {% include post-loop-item.html %}
      </div>
    {% endfor %}

  </div>
</section>
