---
layout: default
---

<!-- Reusable Banner -->
{% include banner.html %}

<!-- this is your podcast layout, each of your individual podcast pages will use this layout as it includes blocks. -->
<section class="grid padded">
  <div class="col-8_sm-12 post-body padded-1">
    <!-- Page.type is a variable I created to represent either destinations or advice  -->
    <p> <a href="/{{page.type}}" class="category"> {{page.type}} </a> >
      {% for category in page.categories %}
      <a href="/archives/{{category | slugify }}" class="category"> {{category}} </a>
      {% endfor %} -->
    </p> <!-- end categories -->

    {% for block in page.page_blocks %}
     {% include blocks/{{block._id}}.html block=block %}
    {% endfor %}

    <h2> {{page.sub-title}} </h2>

    {{content}}

    <!-- Social Share -->
    {% include social-share.html %}

    <!-- Related Posts -->
    <section class="margin-top">
      <h2>
        {% if page.read-more-text %}
        {{page.read-more-text}}
        {% else %}
        Related Posts
        {% endif %}
      </h2>
      <div class="grid podcast-loop">

        {% for post_url in page.podcasts %}
          {% assign podcast_path = podcast_url | prepend: "_podcasts/" | append: ".md" %}
          {% assign podcast = site.podcasts | where: "path", podcast_path | first %}

          <div class="col-6_sm-12 padded-1">
            {% include podcast-loop-item.html %}
          </div>

        {% endfor %}
      </div>
      <a href="/destinations/{{page.destination}}">
        <div class="{{page.destination}}-bg" {% if page.read-more-bg %}style="background-image:url('{{page.read-more-bg}}')"{% endif %}>
          <h3>See more from {{page.destination}}</h3>
        </div>
      </a>
    </section>
  </div>

  <div class="col-4_sm-12 padded-1 mob-hide sidebar">

    <!-- sidebar box 1: About Us -->
    <div>
      <h4> Welcome to Jamie's Wee Podcast </h4>
      <div class="bg-image">
      </div>
      <div class="padded-bottom-1">
        <p class="margin-top"> A wee podcast, for big personalities and subjects, sprinkled with a touch of Scottish humour<br><br>Hosted by a mid-30s, weather-beaten, well-travelled Scottish guy who has a few stories to tell<br><br>This is very much a no niche podcast as I look to deep dive into a whole host of different topics such as relationships, blogging, photography, business, social media and more!
        </p>
      </div>
    </div>

    <!-- sidebar box 2: Recent Posts -->
    <div>
      <h4>
        Recently on the podcast
      </h4>
      <div class="grid blog-loop">
        {% for podcast in site.podcasts limit:4 %}
        <div class="col-12 padded-bottom-1">
          {% include podcast-loop-item.html %}
        </div>
        {% endfor %}
      </div>
    </div>


    <!-- sidebar box 3: Bluehost Ad -->
    <div>
      <a href="https://www.bluehost.com/track/wanderintwo/" target="_blank"> <img border="0" src="https://bluehost-cdn.com/media/partner/images/wanderintwo/300x250/300x250BW.png"> </a>
    </div>

    <!-- close sidebar -->
</section>
