---
layout: default
---

<section class="banner" style="background-image:url('{{page.image_path}}');">
  <h1> {{page.title}}</h1>
</section>

<!-- this is your post layout, each of your individual blog post pages will use this layout. -->
<section class="grid padded">

  <div class="col-8_sm-12 post-body padded-1">
      <!-- Page.type is a variable I created to represent either destinations or advice  -->
      <p> <a href="/{{page.type}}" class="category"> {{page.type}} </a> >
        {% for category in page.categories %}
          <a href="/archives/{{category | slugify }}" class="category"> {{category}} </a>
        {% endfor %}
      </p> <!-- end categories -->
      <h2> {{page.sub-title}} </h2>

      <!-- this automatically outputs each category tag -->

      {{content}}

      {% if page.hotel-recommendations %}

      <h2> Hotels in {{page.destination}}</h2>


      {% for item in page.hotels %}
      <div>
          <!-- put stff here  -->

      </div>

      {% endfor %}

      {% endif %}


      {% include social-share.html %}

  </div>

  <div class="col-4_sm-12 padded-1 mob-hide sidebar">

      <!-- sidebar box 1 -->
      <div>
        <h3> This is a sidebar box </h3>
        <p> You can edit the content of the sidebar box in your post layout. </p>
      </div>

      <!-- sidebar box 2 -->
      <div>
        <p> You could put anything you want in here, like links to your social or featured articles, a newsletter signup, etc </p>
      </div>

      <!-- sidebar box 3 -->
      <div>
        <h3> Categories </h3>

        <!-- this will output a list of all the categories on your site -->
        {% for category in site.categories %}
          <a href="/archives/{{category[0] | slugify }}" class="category"> {{category[0]}} </a>
        {% endfor %}

      </div>

  </div><!-- close sidebar -->
</section>
