---
layout: default
---
<!-- Reusable Banner -->
{% include banner.html %}

<!-- this is your post layout, each of your individual blog post pages will use this layout. -->
<section class="grid padded">

  <div class="col-8_sm-12 post-body padded-1">
    <!-- Page.type is a variable I created to represent either destinations or advice  -->
    <p> <a href="/{{page.type}}" class="category"> {{page.type}} </a> >
      {% for category in page.categories %}
      <a href="/archives/{{category | slugify }}" class="category"> {{category}} </a>
      {% endfor %}
    </p> <!-- end categories -->
    <h2> {{page.sub-title}} </h2>

    {{content}}

    <!-- Accommodation Section -->
    {% if page.accommodations %}
    <h2>
      Accommodation in {{page.destination}}
    </h2>
    <p>
      {{page.accommodation-description}}
    </p>
    {% for accommodation in page.accommodations %}
    <a href="{{accommodation.url}}" class="hotel-listing" target="_blank">
      <div class="grid">
        <!-- put stff here  -->
        <div class="col-5_sm-12 bg-image" style="background-image: url({{accommodation.image}})">
        </div>
        <div class="col-7_sm-12 padded-1">
          <h4>
            {{accommodation.type}}: {{accommodation.name}}
          </h4>
          <p>
            {{accommodation.description}}
          </p>
        </div>
        <!-- stuff ends here -->
      </div>
    </a>
    {% endfor %}
    <h4>
      <a href="{{accommodation.affiliate-link}}">
      See more accommodation in {{page.destination}}
      </a>
    </h4>
    {% endif %}

    <!-- Social Share -->
    {% include social-share.html %}

    <!-- Related Posts -->
    <section class="margin-top">
      <h2>
        Related Posts
      </h2>
      <div class="grid blog-loop">

        {% capture pageCategory %}{{ page.categories[0] }}{% endcapture %}

        {% for post in site.categories[pageCategory] limit:4 %}

        {% if post.url != page.url %}

        <div class="col-6_sm-12 padded-1">
          {% include post-loop-item.html %}
        </div>

        {% endif %}

        {% endfor %}
      </div>
    </section>
  </div>

  <div class="col-4_sm-12 padded-1 mob-hide sidebar">

    <!-- sidebar box 1: About Us -->
    <div>
      <div class="bg-image">
      </div>
      <div class="padded">
        <h3> Welcome to Wander In Two </h3>
        <p> Hi, we are Jamie & Ivana!<br>A real and relatable travel couple inspiring others to make their travel dreams a reality
        </p>
        <a class="button" href="/about-us">Read our story</a>
      </div>
    </div>

    <!-- sidebar box 2: Recent Posts -->
    <section>
      <h2>
        Recent Posts
      </h2>
      <div class="grid blog-loop">
        {% for post in site.posts limit:4 %}
        <div class="col-12 padded-1">
          {% include post-loop-item.html %}
        </div>
        {% endfor %}
      </div>
    </section>


    <!-- sidebar box 3: Bluehost Ad -->


  </div><!-- close sidebar -->
</section>
